:root {
   --main: #ff7400;
   --violet: #6b00be;
   --violet-light: #a169f9;
   --font: 16px;
}
*,
::after,
::before,
:after,
:before {
   box-sizing: border-box;
}

html {
   line-height: 1.35;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
   font-size: clamp(0.875rem, 1vw, var(--font));
}

@media screen and (max-width: 1024px) {
   html {
      font-size: calc(var(--font) - 2px);
   }
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
   display: block;
}

body {
   margin: 0;
   font-size: 1rem;
   font-weight: 200;
   line-height: 1.5;
   text-align: left;
   background-color: var(--violet);
   font-family: sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: #fff;
   font-family: "Inter", sans-serif;
   letter-spacing: -0.005em;
}

body.loading * {
   transition: none !important;
}

body.noselect * {
   user-select: none;
}

[tabindex="-1"]:focus:not(:focus-visible) {
   outline: 0 !important;
}

hr {
   box-sizing: content-box;
   height: 0;
   overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0;
   margin-bottom: 0.5rem;
   color: #fff;
   font-weight: 300;
   letter-spacing: -0.015em;
   line-height: 1.2;
}

p {
   margin-top: 0;
   margin-bottom: 1rem;
   color: #fff;
}

abbr[data-original-title],
abbr[title] {
   text-decoration: underline;
   -webkit-text-decoration: underline dotted;
   text-decoration: underline dotted;
   cursor: help;
   border-bottom: 0;
   -webkit-text-decoration-skip-ink: none;
   text-decoration-skip-ink: none;
}

address {
   margin-bottom: 1rem;
   font-style: normal;
   line-height: inherit;
}

dl,
ol,
ul {
   margin-top: 0;
   margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
   margin-bottom: 0;
}

dt {
   font-weight: 700;
}

dd {
   margin-bottom: 0.5rem;
   margin-left: 0;
}

blockquote {
   margin: 0 0 1rem;
}

b,
strong {
   font-weight: bolder;
}

small {
   font-size: 80%;
}

sub,
sup {
   position: relative;
   font-size: 75%;
   line-height: 0;
   vertical-align: baseline;
}

sub {
   bottom: -0.25em;
}

sup {
   top: -0.5em;
}

a {
   color: inherit;
   text-decoration: none;
   background-color: transparent;
}

a:hover {
   color: inherit;
   text-decoration: none;
}

a:not([href]):not([class]) {
   color: inherit;
   text-decoration: none;
}

a:not([href]):not([class]):hover {
   color: inherit;
   text-decoration: none;
}
a[href=""] {
   cursor: default;
   pointer-events: none;
}
a[href=""]:hover {
   opacity: 1 !important;
}
code,
kbd,
pre,
samp {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1em;
}

pre {
   margin-top: 0;
   margin-bottom: 1rem;
   overflow: auto;
   -ms-overflow-style: scrollbar;
}

figure {
   margin: 0 0 1rem;
}

img,
picture,
svg {
   vertical-align: middle;
   border-style: none;
   width: 100%;
   height: auto;
}

svg {
   overflow: hidden;
   vertical-align: middle;
   width: 100%;
}

table {
   border-collapse: collapse;
}

caption {
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   color: #6c757d;
   text-align: left;
   caption-side: bottom;
}

th {
   text-align: inherit;
}

label {
   display: inline-block;
   margin-bottom: 0.5rem;
}

button {
   border-radius: 0;
}

button:focus {
   outline: 1px dotted;
   outline: 5px auto -webkit-focus-ring-color;
   outline: 0;
}

button,
input,
optgroup,
select,
textarea {
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
}

button,
input {
   overflow: visible;
}

button,
select {
   text-transform: none;
}

[role="button"] {
   cursor: pointer;
}

select {
   word-wrap: normal;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
   -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
   cursor: pointer;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
   padding: 0;
   border-style: none;
}

input[type="checkbox"],
input[type="radio"] {
   box-sizing: border-box;
   padding: 0;
}

textarea {
   overflow: auto;
   resize: vertical;
}

fieldset {
   min-width: 0;
   padding: 0;
   margin: 0;
   border: 0;
}

legend {
   display: block;
   width: 100%;
   max-width: 100%;
   padding: 0;
   margin-bottom: 0.5rem;
   font-size: 1.5rem;
   line-height: inherit;
   color: inherit;
   white-space: normal;
}

progress {
   vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
   height: auto;
}

[type="search"] {
   outline-offset: -2px;
   -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}

::-webkit-file-upload-button {
   font: inherit;
   -webkit-appearance: button;
}

output {
   display: inline-block;
}

summary {
   display: list-item;
   cursor: pointer;
}

template {
   display: none;
}

[hidden] {
   display: none !important;
}

html {
   box-sizing: border-box;
   -ms-overflow-style: scrollbar;
}
.wf-active body {
   font-family: "Inter", sans-serif;
}

.animate {
   visibility: hidden;
   opacity: 0;
}
.animate.fade-down,
.animate.fade-right,
.animate.fade-left {
   transition: 500ms ease-in-out;
   transition-property: opacity, visibility, transform;
}
.animate.fade-down {
   transform: translate(0, 5%);
}
.animate.fade {
   transition: 500ms ease-in-out;
   transition-property: opacity, visibility;
}
.animate.fade-right {
   transform: translate(3%, 0);
}
.animate.fade-left {
   transform: translate(-3%, 0);
}
.animate.fade.animate-active {
   opacity: 1;
   visibility: visible;
}
.animate.fade-down.animate-active,
.animate.fade-right.animate-active,
.animate.fade-left.animate-active {
   opacity: 1;
   visibility: visible;
   transform: translate(0, 0%);
}

.container {
   max-width: 76rem;
}

.container {
   width: 100%;
   margin: 0 auto;
   padding: 0 1.25rem;
}

* .m-0 {
   margin: 0;
}

* .p-0 {
   padding: 0;
}

.lazy-img img,
.lazy-img svg {
   display: block;
}
.lazy-img {
   position: relative;
}
.lazy-progress::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 2rem;
   height: 2rem;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 28'%3E%3Ccircle cx='14' cy='14' r='12' stroke='%23ffffff' stroke-opacity='.2'/%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' d='M26 14A12 12 0 1 1 14 2'/%3E%3C/svg%3E");
   animation: preload 1s linear infinite;
   pointer-events: none;
   user-select: none;
}
@keyframes preload {
   0% {
      transform: translate(-50%, -50%) rotate(0);
   }
   100% {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

.s-s,
.c-c,
.c-s,
.c-e,
.c-sb {
   display: flex;
}

.c-c,
.c-s,
.c-e,
.c-sb {
   align-items: center;
}

.c-e {
   justify-content: flex-end;
}

.c-sb {
   justify-content: space-between;
}

.c-s,
.s-s {
   justify-content: flex-start;
}

.s-s {
   align-content: flex-start;
}

.c-c {
   justify-content: center;
}
.hidden,
.sprite-block {
   display: none;
   width: 0;
   height: 0;
}

/* font */
.font-0_85 {
   font-size: 0.85rem;
}
.font-1_25 {
   font-size: 1.25rem;
}
.font-1_5 {
   font-size: 1.5rem;
}
.font-1_75 {
   font-size: 1.75rem;
}
.font-2 {
   font-size: 2rem;
}
.font-2_25 {
   font-size: 2.25rem;
}
.block-title {
   font-size: 3.125rem;
   font-weight: 400;
   color: var(--main);
   margin-bottom: 3.5rem;
}
.fw-300 {
   font-weight: 300;
}
strong {
   font-weight: 500;
}

@media screen and (max-width: 1024px) {
   .font-0_85 {
      font-size: 0.85rem;
   }
   .font-1_25 {
      font-size: 1.15rem;
   }
   .font-1_5 {
      font-size: 1.35rem;
   }
   .font-1_75 {
      font-size: 1.5rem;
   }
   .font-2 {
      font-size: 1.75rem;
   }
   .font-2_25 {
      font-size: 2rem;
   }
   .block-title {
      font-size: 2.75rem;
   }
}
@media screen and (max-width: 590px) {
   .block-title {
      font-size: 2.25rem;
      margin-bottom: 2.5rem;
   }
   .font-2 {
      font-size: 1.4285rem;
   }
   .font-1_75 {
      font-size: 1.285rem;
   }
   .font-1_5 {
      font-size: 1.142rem;
   }
   .mob-hide {
      display: none;
   }
}
/* header */
.header {
   padding: 3rem 0;
}
.header-content {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.header-logo {
   max-width: 16rem;
   display: block;
}
.logo-sign {
   color: var(--main);
   font-weight: 400;
   margin-left: 2rem;
   margin-top: 1.125rem;
   white-space: nowrap;
}
.header-content .contacts {
   margin-top: 0.525rem;
}
.contacts {
   color: #fff;
   padding: 0;
   margin: 0;
   list-style: none;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   justify-self: end;
}
.contacts li + li {
   margin-left: 1.25rem;
}
.icon svg {
   width: 1em;
   height: 1em;
}
.contacts li a .icon {
   margin-right: 0.5rem;
}
.icon-m svg {
   font-size: 1.25rem;
}
.contacts li a {
   transition: 250ms ease-in;
   transition-property: opacity;
   will-change: opacity;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.contacts li a:hover {
   opacity: 0.7;
}
@media screen and (max-width: 768px) {
   .header-logo {
      max-width: 12rem;
   }
   .logo-sign {
      margin-left: 0.75rem;
      margin-top: 0.825rem;
   }
   .header-content .contacts {
      margin-top: 0.35rem;
   }
   .header {
      padding: 1.5rem 0;
   }
}
@media screen and (max-width: 590px) {
   .header-content {
      grid-template-columns: 1fr 6rem;
      column-gap: 2rem;
   }
   .header-content .link-name {
      display: none;
   }
   .header-content .contacts li a .icon {
      margin: 0;
   }
   .header-content .contacts li a {
      justify-content: center;
      width: 2.285rem;
      height: 2.285rem;
      border-radius: 0.5rem;
      background: #a169f9;
   }
   .header-content .contacts {
      margin-top: 0;
   }
   .header-content .contacts li + li {
      margin-left: 1rem;
   }
}
/* hero */
.hero {
   margin-top: 2rem;
}
.hero-content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 4rem;
   align-items: center;
}
.hero-content .font-2_25 {
   max-width: 24rem;
   margin-bottom: 2rem;
}
.pre-title {
   padding: 0.75rem 2rem;
   border-radius: 3rem;
   border: 2px solid var(--main);
   display: inline-block;
   margin-bottom: 2rem;
}
@media screen and (max-width: 1024px) {
   .hero-content {
      column-gap: 2rem;
      align-items: end;
   }
}
@media screen and (max-width: 768px) {
   .hero-content {
      grid-template-columns: 1fr;
      row-gap: 3rem;
   }
   .hero-content .lazy-img {
      max-width: 30rem;
      margin: 0 auto;
   }
   .hero-content .font-2_25 {
      max-width: none;
      margin-bottom: 1.5rem;
   }
}
@media screen and (max-width: 524px) {
   .hero-text {
      order: 2;
   }
   .hero-content .lazy-img {
      order: 1;
   }
}
/* statistics */
.stats {
   margin-top: 6rem;
}
.stats-list {
   padding: 0 3rem;
}

.stats-number {
   display: block;
   line-height: 0.75;
   font-size: 6rem;
   text-align: right;
}
.stats-number.fix-plus {
   margin-right: -0.1025em;
}
.count.animate {
   visibility: visible;
   opacity: 1;
}
.stats-el {
   display: grid;
   grid-template-columns: 15rem 1fr;
   align-items: center;
   column-gap: 2rem;
   padding: 4rem 6rem 4rem 5rem;
   border-radius: 10rem;
   border: 2px solid var(--main);
}
.stats-descr {
   margin: 0;
   line-height: 1.35;
}
.stats-el + .stats-el {
   margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
   .stats-list {
      padding: 0;
   }
}
@media screen and (max-width: 768px) {
   .stats-number {
      font-size: 5rem;
   }
   .stats-el {
      grid-template-columns: 12rem 1fr;
      padding: 3rem 5rem 3rem 4rem;
   }
}
@media screen and (max-width: 590px) {
   .stats-number {
      font-size: 4rem;
   }
   .stats-el {
      grid-template-columns: 10rem 1fr;
      padding: 2rem 3rem 2rem 3rem;
   }
   .stats-el + .stats-el {
      margin-top: 1.5rem;
   }
}
@media screen and (max-width: 524px) {
   .stats-number {
      text-align: left;
   }
   .stats-el {
      grid-template-columns: 1fr;
      row-gap: 2rem;
      border-radius: 3rem;
      padding: 2rem;
   }
   .stats {
      margin-top: 4rem;
   }
}
/* profit */
.profit {
   margin: 6rem 0;
}
.profit-content {
   display: grid;
   column-gap: 4rem;
   line-height: 1.35;
   align-items: center;
}
.icon-left .profit-content {
   grid-template-columns: 14rem 1fr;
}
.icon-right .profit-content {
   grid-template-columns: 1fr 14rem;
}
.icon-left .profit-content p {
   max-width: 48rem;
}
@media screen and (max-width: 768px) {
   .profit-content {
      column-gap: 2rem;
   }
   .icon-left .profit-content {
      grid-template-columns: 10rem 1fr;
   }
   .icon-right .profit-content {
      grid-template-columns: 1fr 10rem;
   }
}
@media screen and (max-width: 590px) {
   .icon-left .profit-content,
   .icon-right .profit-content {
      grid-template-columns: 1fr;
      row-gap: 2rem;
   }
   .profit-content .lazy-img {
      order: 1;
      max-width: 10rem;
   }
   .profit-content .font-2 {
      order: 2;
   }
   .profit {
      margin: 5rem 0;
   }
}
@media screen and (max-width: 524px) {
   .profit-content .lazy-img {
      max-width: 8rem;
   }
}
/* functions */
.functions {
   overflow: hidden;
}
.schema-block {
   display: block;
   position: relative;
   padding: 3.5rem 0rem 3rem 12.5%;
   z-index: 2;
}
.schema-el {
   position: relative;
   z-index: 10;
   height: 100%;
   padding: 0.5rem;
   order: 5;
}
.schema-el.or-6 {
   order: 6;
}
.schema-el.or-7 {
   order: 7;
}
.schema-el.or-8 {
   order: 8;
}
.schema-el.or-9 {
   order: 9;
}
.schema-el.or-10 {
   order: 10;
}
.schema-number {
   width: 3.75rem;
   height: 3.75rem;
   line-height: 1;
   font-size: 1.5rem;
   text-align: center;
   background: var(--violet);
   border-radius: 3.75rem;
   border: 2px solid var(--violet-light);
   margin-left: -2px;
}
.schema-el:last-child .schema-number {
   background: var(--main);
}
.has-sub .schema-number {
   border: 2px solid white;
   margin: 0;
}
.has-sub {
   cursor: pointer;
   transition: 250ms ease-in;
   transition-property: background;
   border-radius: 0.5rem;
}
.has-sub:hover {
   background: rgba(255, 255, 255, 0.15);
}
.zoom-icon {
   position: absolute;
   left: 2.5rem;
   top: 2.5rem;
   padding: 0.35rem;
   background: rgba(255, 116, 0, 0.8);
   border-radius: 2rem;
   z-index: 10;
}
.zoom-icon svg {
   width: 1.25rem;
   height: 1.25rem;
}
.schema-text {
   font-size: 1.25rem;
   margin: 1rem 0 0 0;
   line-height: 1.25;
}
.schema-block::before {
   content: "";
   position: absolute;
   width: calc(100% + 50vw);
   height: 100%;
   left: 0;
   top: 0;
   z-index: 0;
   background: var(--violet-light);
   border-bottom-left-radius: 10vw;
   border-top-left-radius: 10vw;
   user-select: none;
}
.schema-inner {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   column-gap: 0.5rem;
   row-gap: 2rem;
   position: relative;
   margin-left: -2rem;
}
.schema-inner:before {
   content: "";
   position: absolute;
   width: 100%;
   height: calc(50% + 2rem);
   top: 2.25rem;
   left: 0.5rem;
   border-top-right-radius: 10rem;
   border-bottom-right-radius: 10rem;
   border-top: 2px solid var(--main);
   border-bottom: 2px solid var(--main);
   border-right: 2px solid var(--main);
   display: block;
}

.modal {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 500;
   visibility: hidden;
   opacity: 0;
   transform: translate(0, 3rem);
   pointer-events: none;
   outline: 0;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
   background: var(--violet);
   transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
   transition-property: visibility, opacity, transform;
}
.modal.active {
   visibility: visible;
   opacity: 1;
   transform: translate(0, 0);
   pointer-events: all;
}
.modal-dialog {
   margin: 2rem auto;
   min-height: calc(100% - 4rem);
   display: flex;
   align-items: center;
   position: relative;
   padding: 1.25rem;
   max-width: 76rem;
   position: relative;
}
.modal-content {
   width: 100%;
   position: relative;
}
.modal-content .schema-inner {
   grid-template-columns: repeat(4, 1fr);
}
.modal-content .schema-el:last-child {
   grid-column: span 2;
}
.modal-content .schema-inner:before {
   height: calc(50% + 2.75rem);
}
.close-modal {
   position: absolute;
   background: transparent;
   padding: 0.5rem;
   right: 1rem;
   top: 1rem;
   border: 1px solid var(--main);
   transition: 200ms ease-in;
   transition-property: border;
   z-index: 100;
}
.close-modal:hover {
   border: 1px solid white;
}
.close-modal svg {
   width: 1.25rem;
   height: 1.25rem;
}
.close-modal svg path {
   stroke: var(--main);
   transition: 200ms ease-in;
   transition-property: stroke;
}
.close-modal:hover svg path {
   stroke: white;
}
@media screen and (max-width: 864px) {
   .schema-inner {
      display: flex;
      overflow-x: auto;
      margin: 0;
      column-gap: 0;
      scroll-snap-type: x mandatory;
   }

   .schema-inner:after,
   .schema-inner:before {
      content: "";
      display: block;
      min-width: 1.25rem;
      width: 1.25rem;
      height: 1px;
      border: none;
   }
   .schema-el {
      flex: 0 0 18rem;
      margin-bottom: 3.5rem;
      scroll-snap-align: center;
   }
   .schema-inner:before {
      display: none;
   }
   .schema-block {
      background: var(--violet-light);
      margin: 0 -1.25rem;
      padding: 3.5rem 0 0 0;
   }
   .schema-el::after {
      content: "";
      position: absolute;
      top: 2.25rem;
      width: calc(100% + 0.5rem);
      border-top: 1px solid var(--main);
      display: block;
   }
   .schema-el:last-child::after {
      display: none;
   }

   .schema-number {
      position: relative;
      z-index: 4;
   }
   .schema-el.or-6,
   .schema-el.or-7,
   .schema-el.or-8,
   .schema-el.or-9,
   .schema-el.or-10 {
      order: 5;
   }
   .schema-el::before {
      display: inline;
      width: 1.25rem;
   }
}

/* advantages */
.advantages-list {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 3rem;
   row-gap: 1.5rem;
   align-items: center;
}
.advantages-el {
   padding: 2rem 3.75rem;
   border: 2px solid var(--main);
   height: 100%;
   display: flex;
   align-items: center;
   border-radius: 8rem;
}
@media screen and (max-width: 1024px) {
   .advantages-list {
      row-gap: 1rem;
      column-gap: 1rem;
   }
   .advantages-el {
      padding: 2rem 3rem;
   }
}
@media screen and (max-width: 768px) {
   .advantages-el {
      padding: 1.25rem 2rem;
      border-radius: 3rem;
   }
}
@media screen and (max-width: 524px) {
   .advantages-list {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
   }
   .advantages-el {
      min-height: 10rem;
   }
}
/* footer */
.footer-content {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   column-gap: 2rem;
}
.footer-logo {
   max-width: 12rem;
}
.footer {
   margin-top: 4rem;
   padding: 2rem 0 4rem 0;
}
@media screen and (max-width: 1024px) {
   .footer-content {
      grid-template-columns: 1fr 12rem 1fr;
   }
}
@media screen and (max-width: 880px) {
   .footer-content {
      grid-template-columns: 12rem 12rem 1fr;
   }
}
@media screen and (max-width: 768px) {
   .footer-content {
      grid-template-columns: 1fr 2fr;
      row-gap: 2rem;
      align-items: end;
   }
   .footer-logo {
      grid-column: span 2;
   }
   .address-name {
      justify-content: flex-start;
   }
   .footer {
      padding: 2rem 0;
   }
}
@media screen and (max-width: 524px) {
   .footer-content {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
   }
   .footer-logo {
      grid-column: span 1;
   }
   .footer-content .contacts {
      justify-self: start;
   }
}
